@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/*FORMATAÇÃO GLOBAL DA PAGÍNA*/
* { /*Resetando os espaçamentos/preenchimentos*/
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif Text";
    text-decoration: none;
}

header {
    background-color: #393939;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /*header fixo*/
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

/*estilização da logo*/
.logo-jk {
    width: 8rem; /*largura responsiva da img*/
    height: auto; /*o auto servirá como uma altura automatica em relação a tela o navegador*/
}

.ul-list { /*aplicando formatação na ul*/
    display: flex; /*colocando as li lado a lado*/
    gap: 10px; /*espaçamentos entre as listas*/
}

.ul-list li a { /*removendo a estilização padrão da âncora*/
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.section-01 {
    background-image: url(img/DESKTOP.png);
    background-size: cover;
    background-position: top;
    padding: 13rem;
}

.section-02 {
    background-color: #5d5d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem; 
    padding: 9rem; /*=32px*/
    flex-wrap: wrap;
    flex-direction: column;
}

.caixa {
    background-color: rgb(76, 74, 74); /*cor de fundo*/
    color: white; /*cor da letra*/
    font-size: 1.2rem; /*tamanho da letra*/
    padding: 1.5rem;
    width: 25%; /*largura de todas as caixas em porcentagem*/
    height: 17rem; /*altura das caixas*/
    box-shadow: 10px 10px 20px rgb(42, 42, 42); /*sombra das caixas*/
    border-radius: 5px; /*arrendondamento da borda*/
    min-width: 300px; /*largura minima da caixa evita que fique muito pequeno*/
    transition: 0.8s; /*transição para o hover*/
    cursor: pointer; /*ativar o cursor do mouse*/
}

.pai-caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.icones {
    display: flex;
    justify-content: center;
}

.icons i {
    color: black; /*alterei a cor do icon*/
    font-size: 2rem; /*aumentei o tamanho do icon*/
    margin-top: 1rem; /*espaçamento superior*/
    margin-bottom: 0.8; /*espaçamento inferior*/
}

.caixas {
    text-align: center; /*alinhamento dos icons no centro*/
    
}

.texto-caixa {
    font-size: 1.1rem; /*tamanho da letra*/
    margin-bottom: 0.8rem; /*espaçamento inferior*/
    padding: 0.5rem;
}

.texto-caixa p {
    padding: 1rem;
}


.texto-caixa button {
    width: 8rem; /*largura*/
    background-color: rgb(3, 3, 3); /*cor de fundo*/
    color: white; /*cor da letra*/
    border: none; /*removendo a borda padrão*/
    padding: 0.5rem; /*preenchimento interno do botão*/
}

.texto-caixa {
    text-align: center;
    padding: 1.5rem;
}

.text-content h3 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.text-content p {
    font-size: 1.5rem;
    color: white;
}

.section-03 {
    background-color: #6e6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem; 
    padding: 9rem; /*=32px*/
    flex-wrap: wrap;
    flex-direction: column;
}

.texto-caixa-01 {
    text-align: center;
     font-size: 1.1rem; /*tamanho da letra*/
    margin-bottom: 0.8rem; /*espaçamento inferior*/
    padding: 0.5rem;
}

.texto-caixa-01 p {
    padding: 1rem;
}

.texto-caixa-01 button {
     width: 8rem; /*largura*/
    background-color: rgb(3, 3, 3); /*cor de fundo*/
    color: white; /*cor da letra*/
    border: none; /*removendo a borda padrão*/
    padding: 0.5rem; /*preenchimento interno do botão*/
}

.caixa-img {
    background-image: url(img/JK\ BANNER\ OFFICIAL.jpg);
    width: 21rem;
    height: 20rem;
    background-size: cover;
    background-position: top;
    box-shadow: 10px 10px 20px rgb(42, 42, 42);
}

footer{
     background-color: #393939;
}

.mask {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 150px;
}

.mask a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

}

.rede {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 10px;
}

.rede i {
    font-size: 2rem;
    color: white;
}

  /*menu mobile*/

        /*icone do menu (hambúrguer)*/
        .menu-btn {
            font-size: 2rem;
            cursor: pointer;
            display: none; /*torna o item invisivel/só aparece no mobile*/
        }

        /*navegação domenu hambúrguer*/
        .nav-menu {
            display: none; /*sóirá aparecer no mobile*/
        }






/*@media vai servir para defimir configurações/estilizações para tamanhos de tela em especifico*/
    @media (max-width: 500px) { 

      
        .menu-desktop {
            /*aquiestamos ocultando o menu DESKTOP PARA VERSÕES mobile*/
            display: none; /*responsável por ocultar o menu ou qualquer outra propriedade*/

        }

        .menu-btn {
            display: flex; /*tornando o menuhambúguer visivel*/
            margin-right: -3rem; /*posicionamento do menu*/
        }

        /*menu vertical*/

        .nav-menu{
            position: absolute;
            top: -30rem; /*começa escondido acima*/
             /*ajustando o alinhamento do menu*/
            width: 100%; /*largura total da caixa do menu*/
            height: 30vh;  /*alturq da caixa do menu*/
            background-color: #393939;
            transition: top 0.3s ease-in-out; /*transição suave*/
            display: flex; /*alinhamento dos itens*/
            justify-content: center; /*alinhamento horizontal*/
            align-items: center; /*alinhamento vertical*/
        }

        .show { /*essa class será chamada pelo javascript para ação do menu*/
            top: 150px; /*desce suavemente quando é ativado*/
             /*posicionamento dp menu*/
        }

        .ul-list2 a {
            color: white;
            font-size: 2rem;
        }



     .section-01 {
        background-image: url(img/tablet.png);
        padding: 8rem;
    }
    
    .nav {
        /*aqui estamos ocultando o menu para versões mobile*/
        display: none; /*responsavel por ocultar o menu ou qualquer outra prpriedade*/
    }


    .text {
        font-size: 25px;
    }

    .section-02 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 4rem 1rem;
    }

    .text-content h3 {
        font-size: 1.6rem;
        text-align: center;
        padding: 0 1rem;
    }
}

    .auto-type {
        padding: 1rem;
    }
